<!DOCTYPE html>
<html>
<head>
    <title>{{ country|capitalize }} Map</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="sidebar">
        <ul>
            <li><a href="#" onclick="home()">🧪 PFAS</a></li>
            <li><a href="#" onclick="test()">🧠 Test</a></li>
            <li><a href="#" onclick="sus_questionnaire()">📝 Questionnaire</a></li>
        </ul>
    </div>

    <div class="main-content">
        <h1>🗺️ PFAS Interactive Map</h1>
        <p class="intro">
            Yellow points refer to measurement locations of PFAS in the environment.
            Click on a point to see more details, including nearby companies and affected cities.
        </p>
        <div class="map-layout">
            <div style="display: flex; gap: 20px; align-items: flex-start;">

                <div id="info-box"></div>

                <object
                    id="map"
                    type="image/svg+xml"
                    data="{{ url_for('map_view_svg') }}">
                </object>

                <div class="matrix-column">
                    <h3>Matrix (environment)</h3>
                    <table id="matrix-table" border="1">
                        <tbody></tbody>
                    </table>
                </div>

                <div class="pfas-column">
                    <h3>Measured PFAS</h3>
                    <table id="pfas-table" border="1">
                        <tbody></tbody>
                    </table>

                    <div id="pfas-info-panel" style="display:none; margin-top:20px; border:1px solid #ccc; padding:15px;">
                        <h3 id="pfas-info-title"></h3>
                        <div id="pfas-info-content">
                            <p>Select a PFAS to see details.</p>
                        </div>
                    </div>
                </div>       
            </div>
        </div>
    </div>

    <script>
    function home() {
        window.location.href = "/";
    }

    function test() {
        window.location.href = "/test";
    }

    function sus_questionnaire() {
        window.location.href = "/questionnaire";
    }

    function showInfoMeasurement(measurement) {
        fetch(`/location/measurement/${measurement}`)
            .then(res => res.json())
            .then(data => {
                const box = document.getElementById("info-box");
                box.style.display = "block";
                box.innerHTML = `
                    <p>${data[0].description}</p>
                `;
            });
    }

    function showInfoCity(city, connection) {
        /*
        fetch(`/location/city/${city}`)
            .then(res => res.json())
            .then(data => {
                const box = document.getElementById("info-box");
                box.style.display = "block";
                box.innerHTML = `
                    <p>${data[0].city} and ${connection}</p>
                `;
            });
        */
        if (connection === "null" || connection == city) {
        message = `${city} is in the proximity of the measurement`;
        } else {
        message = `${city} is affected since naturally connected to ${connection}`;
        }
        const box = document.getElementById("info-box");
        box.style.display = "block";
        box.innerHTML = `
            <p>${message}</p>
        `;
    }

    function showInfoCompany(company) {
        fetch(`/location/company/${company}`)
            .then(res => res.json())
            .then(data => {
                const box = document.getElementById("info-box");
                box.style.display = "block";
                box.innerHTML = `
                    <p>${data[0].company}</p>
                `;
            });
    }

    function showPfasInfo(pfas) {
        const panel = document.getElementById("pfas-info-panel");
        const title = document.getElementById("pfas-info-title");
        const content = document.getElementById("pfas-info-content");

        title.textContent = pfas.pfas;

        let level;

        if (pfas.nCarbons > 7) {
            level = "highly";
        } else if (pfas.nCarbons > 4) {
            level = "moderately";
        } else {
            level = "lowly";
        }

        content.innerHTML = `
            <p>${pfas.pfas} contains ${pfas.nCarbons} atoms of carbon who make it ${level} stable in the environment. </p>
        `;

        panel.style.display = "block";
        panel.scrollIntoView({ behavior: "smooth" });
    }

    function hidePfasInfoPanel() {
        const panel = document.getElementById("pfas-info-panel");
        panel.style.display = "none";
    }

    document.addEventListener("DOMContentLoaded", () => {
        const obj = document.getElementById("map");

        obj.addEventListener("load", async () => {
            const svgDoc = obj.contentDocument;
            const svg = svgDoc.documentElement;

            // All points that can be clicked
            const measurementPoints = svgDoc.querySelectorAll(".map-point.expandable");

            measurementPoints.forEach(main => {
                main.style.cursor = "pointer";

                main.addEventListener("click", async (e) => {
                    e.stopPropagation();
                    hidePfasInfoPanel();

                    // Reset previously selected point to orange
                    const prevSelected = svg.querySelector(".map-point.selected");
                    if (prevSelected) {
                        prevSelected.setAttribute("fill", "orange");
                        prevSelected.classList.remove("selected");
                    }

                    // Mark current clicked point as selected
                    main.setAttribute("fill", "red");
                    main.classList.add("selected");

                    const oldCompanies = svg.querySelectorAll(".nearby-companies-point");
                    oldCompanies.forEach(p => p.remove());

                    const oldCities = svg.querySelectorAll(".affected-cities-point");
                    oldCities.forEach(p => p.remove());

                    const matrixTbody = document.querySelector("#matrix-table tbody");
                    matrixTbody.innerHTML = "";

                    const measurement = main.dataset.place;

                    // Fetch your JSON from the backend
                    const companies = await fetch(`/nearby_companies/${measurement}`);
                    const companyPoints = await companies.json(); 

                    showInfoMeasurement(measurement);

                    companyPoints.forEach(p => {
                        const img = document.createElementNS(
                            "http://www.w3.org/2000/svg",
                            "image"
                        );

                        // Position: subtract half the width/height to center the icon
                        img.setAttribute("x", p.cx - 8);  
                        img.setAttribute("y", p.cy - 8);
                        img.setAttribute("width", 100);     
                        img.setAttribute("height", 100);
                        img.setAttribute("href", "/static/icons/factory.svg");  // path to your SVG/logo
                        img.classList.add("nearby-companies-point");
                        img.style.cursor = "pointer";
                        img.dataset.company = p.id;

                        img.addEventListener("click", (evt) => {
                            evt.stopPropagation();
                            showInfoCompany(img.dataset.company);
                        });

                        svg.appendChild(img);
                    });

                    const affectedRes = await fetch(`/affected_cities/${measurement}`);
                    const cityPoints = await affectedRes.json();
                    
                    svg.querySelectorAll(".connection-line").forEach(line => line.remove());
                    const cityMap = {};
                    cityPoints.forEach(p => {
                        cityMap[p.id] = { cx: p.cx, cy: p.cy };
                    });
                    cityPoints.forEach(p => {
                        const img = document.createElementNS(
                            "http://www.w3.org/2000/svg",
                            "image"
                        );

                        if (p.connection) {
                            const connPoint = cityMap[p.connection];
                            if (connPoint) {
                                const line = document.createElementNS("http://www.w3.org/2000/svg", "line");
                                line.setAttribute("x1", p.cx);
                                line.setAttribute("y1", p.cy);
                                line.setAttribute("x2", connPoint.cx);
                                line.setAttribute("y2", connPoint.cy);
                                line.setAttribute("stroke", "blue"); // choose color
                                line.setAttribute("stroke-width", 5);
                                line.setAttribute("stroke-dasharray", "2,2"); // optional dashed line
                                line.classList.add("connection-line");
                                svg.appendChild(line);
                            }
                        }

                        img.setAttribute("x", p.cx);
                        img.setAttribute("y", p.cy);
                        img.setAttribute("width", 80);
                        img.setAttribute("height", 80);
                        img.setAttribute("href", "/static/icons/city.svg");

                        img.classList.add("affected-cities-point");
                        img.style.cursor = "pointer";
                        img.dataset.city = p.id;
                        img.dataset.connection = p.connection;

                        img.addEventListener("click", (evt) => {
                            evt.stopPropagation();
                            showInfoCity(img.dataset.city, img.dataset.connection);
                        });

                        svg.appendChild(img);
                    });
                    
                    // Fetch matrices
                    const matrixRes = await fetch(`/matrix/${measurement}`);
                    const matrices = await matrixRes.json();

                    matrices.forEach(m => {
                        const tr = document.createElement("tr");
                        const td = document.createElement("td");
                        td.textContent = m.matrix;
                        tr.appendChild(td);
                        matrixTbody.appendChild(tr);
                    });

                    // Fetch measured PFAS
                    const pfasRes = await fetch(`/measured_pfas/${measurement}`);
                    const pfases = await pfasRes.json();

                    const pfasTbody = document.querySelector("#pfas-table tbody");
                    pfasTbody.innerHTML = "";

                    pfases.forEach(p => {
                        const tr = document.createElement("tr");
                        const td = document.createElement("td");

                        const link = document.createElement("a");
                        link.href = "#";
                        link.textContent = p.pfas;
                        link.style.cursor = "pointer";

                        link.addEventListener("click", async (e) => {
                            const prev = pfasTbody.querySelector("tr.selected");
                            if (prev) prev.classList.remove("selected");

                            // Mark this row as selected
                            tr.classList.add("selected");

                            e.preventDefault();
                            showPfasInfo(p);
                            document.querySelectorAll("#pfas-table a").forEach(a => {
                                a.classList.remove("selected-pfas");
                            });
                            link.classList.add("selected-pfas");
                        });

                        td.appendChild(link);
                        tr.appendChild(td);
                        pfasTbody.appendChild(tr);
                    });

                    const tablesContainer = document.getElementById("tables-container");
                    if (matrices.length > 0 || pfases.length > 0) {
                        tablesContainer.style.display = "block";
                    } else {
                        tablesContainer.style.display = "none";
                    }
                });
            });
        });
    });

    </script>
</body>
</html>
